<container class="tw-block page-width">
    <div class="!tw-block tw-h-[8px] tw-w-full tw-bg-yellow !tw-rounded-3xl !tw-overflow-hidden tw-border tw-border-solid"></div>
<container>


{% schema %}
    {
        "name": "Line",
        "tag": "section",
        "class": "section-line",
        "settings": [],
        "presets": [
            {
                "name": "Line"
            }
        ]
    }
{% endschema %}